mixin postingList(post={})



    div(class="grid-container")
        div(class=`col ${post.user.mbti} ${post.user.univ}`)
            .information-container.scale
                a(href=`${post.user.link}`).u-profile
                    img.u-avatar(src=post.user.avatarUrl)
                    button(class="postDate" style="display:none;" value=`${post.createdAt}`)
                    .u-container
                        .u-info #{post.user.univ} / #{post.user.mbti} / #{post.user.age}살 / #{post.user.sex}
                        .u-name #{post.user.name}
                a(href=`${post.user.link}`).u-description #{post.description}
                    div <br>
                    .date=timeForToday(post.createdAt)
            
                .u-likeButton
                    .like-wrapper
                        button(class="postlike", value = post.id )
                            img(src="/static/heart.svg" class="heart")
                        .likeNum #{post.like}
    
    
    //- div(class="grid-container")
    //-     .col
    //-         .information-container.scale
    //-             .div-container#first
    //-                 a(href=`${routes.postDetail(post.id)}`) #{post.title} 
    //-             .div-container#second
    //-                 div #{post.description}
    //-             .div-container#third
    //-                 div #{post.like}
    //-                     div(id = `${post.id}`) 
                     
                    

    