extends layouts/main

block content
    .form-container
        form(action=routes.join, method="post")
            input(type="text",name="name",placeholder="Full Name",required = true)
            input(type="text",name="sex",placeholder="성별",required = true)
            input(type="text",name="mbti",placeholder="mbti",required = true)
            input(type="text",name="description",placeholder="한줄소개",required=true)
            input(type="text",name="univ",placeholder="학교",required=true)
            input(type="text",name="age",placeholder="나이",required=true)
            input(type="text",name="link",placeholder="오픈카카오톡링크",required=true)
            input(type="email",name="email",placeholder="Email",required = true)
            input(type="password",name="password",placeholder="Password",required = true)
            input(type="password",name="password2",placeholder="Verify Password",required = true)
            input(type="submit",value="Join")
