extends layouts/main
include mixins/postingList
include mixins/userList
block content

    if loggedUser
        .filters
            div.univ-filter
                form(action=`${routes.test2}`,method="get",id="filter")
                    select(name='univ', id = "univFilter")
                        option(value='' selected) 학교
                        option(value='연세대학교') 연세대
                        option(value='고려대학교') 고려대
                        option(value="서강대학교") 서강대
                        option(value="서울대학교") 서울대
                        option(value="성균관대학교") 성균관대
                        option(value="한양대학교") 한양대
                        option(value="중앙대학교") 중앙대학교
                        option(value="경희대학교") 경희대학교
                        option(value="한국외국어대학교") 한국외국어대학교
                        option(value="시립대학교") 시립대학교
                        option(value="이화여자대학교") 이화여자대학교
                        option(value="관동대의대") 관동대의대

                    select(name='mbti', id = "mbtiFilter")
                        option(value="" selected) MBTI
                        option(value='ISTJ') ISTJ
                        option(value="ISFJ") ISFJ
                        option(value="INFJ") INFJ
                        option(value="INTJ") INTJ
                        option(value="ISTP") ISTP
                        option(value="ISFP") ISFP
                        option(value="INFP") INFP
                        option(value="INTP") INTP
                        option(value="ESTP") ESTP
                        option(value="ESFP") ESFP
                        option(value="ENFP") ENFP
                        option(value="ENTP") ENTP
                        option(value="ESTJ") ESTJ
                        option(value="ESFJ") ESFJ
                        option(value="ENFJ") ENFJ
                        option(value="ENTJ") ENTJ
                    input(type="text",name="name" placeholder="닉네임")
                    .agefilter(style="margin-top:3px; display:flex;")
                        div.selectStyle 나이
                        select(name="age1") 나이
                            option(value="" selected) 선택
                            option(value="19") 19
                            option(value="20") 20
                            option(value="21") 21
                            option(value="22") 22
                            option(value="23") 23
                            option(value="24") 24
                            option(value="25") 25
                            option(value="26") 26
                            option(value="27") 27
                            option(value="28") 28
                            option(value="29") 29
                            option(value="30") 30
                            option(value="31") 31
                            option(value="32") 32
                        div ~ 
                        select(name="age2") 나이
                            option(value="" selected) 선택
                            option(value="19") 19
                            option(value="20") 20
                            option(value="21") 21
                            option(value="22") 22
                            option(value="23") 23
                            option(value="24") 24
                            option(value="25") 25
                            option(value="26") 26
                            option(value="27") 27
                            option(value="28") 28
                            option(value="29") 29
                            option(value="30") 30
                            option(value="31") 31
                            option(value="32") 32
                    select(name='locat')
                        option(value='' selected) 지역
                        option(value='서울') 서울
                        option(value='경기도') 경기도
                        option(value="강원도") 강원도
                        option(value="광주") 광주
                        option(value="대구") 대구
                        option(value="대전") 대전
                        option(value="울산") 울산
                        option(value="세종") 세종
                        option(value="충청북도") 충청북도
                        option(value="충청남도") 충청남도
                        option(value="전라북도") 전라북도
                        option(value="전라남도") 전라남도
                        option(value="경상북도") 경상북도
                        option(value="경상남도") 경상남도
                        option(value="제주") 제주도
                    input(type="submit" value='친구찾기')
                    a(href=`${routes.test2}?${queryString}`)
                        i(style="width:15px; margin-left:10px; color: #4444447a;").fas.fa-sync-alt
        
        //- -for (let i = startPage; i <= endPage ; i++)
        //-     if i === currentPage
        //-         a.pageBtn.current(href=`${routes.test}?page=${i}`)
        //-             span=i
        //-     else
        //-         a.pageBtn(href=`${routes.test}?page=${i}`)
        //-             span=i
            
        //- .postings#postings
        //-             each item in posts
        //-                     +postingList({
        //-                         id : item._id,
        //-                         title: item.title,
        //-                         description: item.description,
        //-                         creator : item.creator,
        //-                         creatorName : item.creatorName,
        //-                         like : item.like,
        //-                         user : item.creator,
        //-                         createdAt : item.createdAt,
        //-                         timeForToday,
        //-                         comments : item.comments
        //-                     }) 
        div(style="margin-bottom: 5px;") #{univ ? univ : "" } #{mbti ? mbti : ""  } #{age1 ? `${age1}살` : ""} ~ #{age2 ? `${age2}살` : ""} : #{totalUser} 명 검색됨
        .users
            each item in users
                    +userList({
                        id: item._id,
                        name: item.name,
                        description: item.description,
                        sex: item.sex,
                        link: item.link,
                        avatarUrl: item.avatarUrl,
                        age: item.age,
                        univ: item.univ,
                        mbti: item.mbti,
                        like: item.like,
                        style: item.style,
                        length : item.images.length,
                        location : item.location,
                        hide: item.hide
                    })

        .pageBox(style="display: flex;margin-top: 12px; justify-content: space-evenly")

            if users.length < 10
                div 
            else 
                if currentPage === endPage
                    a.pageBtn(href=`${routes.test2}?${queryString}&page=${currentPage-1}`)
                        button(style="border:1px solid; margin-right: 10px;text-align:center;")
                            <i class="fas fa-caret-left"></i>
                    a.pageBtn(href=`${routes.test2}?${queryString}&page=${currentPage+1}`)
                        button(style="border:1px solid; margin-right: 10px;text-align:center;  display:none;")
                            <i class="fas fa-caret-right"></i>
                else
                    if currentPage === 1
                        a.pageBtn(href=`${routes.test2}?${queryString}&page=${currentPage-1}`)
                            button(style="border:1px solid; margin-right: 10px;text-align:center;display:none;")
                                <i class="fas fa-caret-left"></i>
                        a.pageBtn(href=`${routes.test2}?${queryString}&page=${currentPage+1}`)
                            button(style="border:1px solid; margin-right: 10px;text-align:center;")
                                <i class="fas fa-caret-right"></i>
                    else
                        a.pageBtn(href=`${routes.test2}?${queryString}&page=${currentPage-1}`)
                            button(style="border:1px solid; margin-right: 10px;text-align:center;")
                                <i class="fas fa-caret-left"></i>
                        a.pageBtn(href=`${routes.test2}?${queryString}&page=${currentPage+1}`)
                            button(style="border:1px solid; margin-right: 10px;text-align:center;")
                                <i class="fas fa-caret-right"></i>


            //- if currentPage === endPage
            //-     a.pageBtn(href=`${routes.test2}?univ=${univ}&mbti=${mbti}&page=${currentPage-1}`)
            //-         button(style="border:1px solid; margin-right: 10px;text-align:center;")
            //-             <i class="fas fa-caret-left"></i>
            //-     a.pageBtn(href=`${routes.test2}?univ=${univ}&mbti=${mbti}&page=${currentPage+1}`)
            //-         button(style="border:1px solid; margin-right: 10px;text-align:center;  display:none;")
            //-             <i class="fas fa-caret-right"></i>
            //- else
            //-     if currentPage === 1
            //-         a.pageBtn(href=`${routes.test2}?univ=${univ}&mbti=${mbti}&page=${currentPage-1}`)
            //-             button(style="border:1px solid; margin-right: 10px;text-align:center;display:none;")
            //-                 <i class="fas fa-caret-left"></i>
            //-         a.pageBtn(href=`${routes.test2}?univ=${univ}&mbti=${mbti}&page=${currentPage+1}`)
            //-             button(style="border:1px solid; margin-right: 10px;text-align:center;")
            //-                 <i class="fas fa-caret-right"></i>
            //-     else
            //-         a.pageBtn(href=`${routes.test2}?univ=${univ}&mbti=${mbti}&page=${currentPage-1}`)
            //-             button(style="border:1px solid; margin-right: 10px;text-align:center;")
            //-                 <i class="fas fa-caret-left"></i>
            //-         a.pageBtn(href=`${routes.test2}?univ=${univ}&mbti=${mbti}&page=${currentPage+1}`)
            //-             button(style="border:1px solid; margin-right: 10px;text-align:center;")
            //-                 <i class="fas fa-caret-right"></i>
    else
        .noticeText
            div(style="line-height:3;") 연고링에는 현재 #{m}의 남성분, #{fm}의 여성분들이 이용중입니다! 현재는, MVP테스트로 서울대,고려대,연세대,서강대,한양대,성균관대,중앙대,경희대,외대,시립대,이대 학생들로만 진행중입니다 !
        .qnaButton
            a(href="https://open.kakao.com/o/sAMFlCPc")
                button(style="width: 100%; margin: 0 auto;") 문의하기
            

    