extends layouts/main
include mixins/videoBlock
include mixins/userList
include mixins/imageBlock

block content

    div(class=`${user.mbti} ${user.univ} grid-container`)
        .col
            .information-container.scale
                a(href=`${user.link}`).u-profile
                    img.u-avatar(src=user.avatarUrl)
                    .u-container

                        .u-info #{user.univ} / #{user.mbti} / #{user.age}살 / #{user.sex}
                        .u-name #{user.name}
                a(href=`${user.link}`).u-description #{user.style}<br>#{user.description}
                .u-likeButton
                    .like-wrapper
                        button(class="like", value = user.id style="grid-column:4/5" )
                            img(src="/static/heart.svg" class="heart")
                            .likeNum #{user.like}
    .album
        .album-wrapper
            button.albumText.hearts 앨범
            if loggedUser && loggedUser.id === user.id    
                    
                .albumUpload(style="text-align-last:right;")
                    a(href=`${routes.userDetail(user.id)}${routes.album}`)
                        button.hearts 업로드
                    a(href=`${routes.userDetail(user.id)}${routes.albumDelete}`)
                        button.hearts 삭제
        each item in images
                +imageBlock({
                    fileUrl: item.fileUrl,
                    creator: item.creator
                })

                
    //- if loggedUser && loggedUser.id === user.id
    //-     .user-profile__btns
    //-         a(href=`/users${routes.editProfile}`)
    //-             button ✏️ 정보 수정 




block cont
    //- 정보수정
    if loggedUser && loggedUser.id === user.id
        a(href=`/users${routes.editProfile}` ).Ellipse-19
            img(src="/static/pencil.svg")
    //- 채팅보내기
    if loggedUser && loggedUser.id !== user.id
        a(href=user.link).Ellipse-20
            div(style="margin:0 auto; color:white;") 말걸기

