footer.footer
    a(href=routes.male).tab.male
        .svg
            img(src="/static/a.svg" id="maleButton")
        #maleText 남자
    a(href=routes.fmhome).tab.female
        .svg
            img(src="/static/a.svg" id="femaleButton")
        #femaleText 여자
    a(href=routes.home).tab.community 
        .svg
            img(src="/static/c.svg" id="communityButton")
        #communityText 커뮤니티
    a(href=routes.love).tab.event  
        .svg
            img(src ="/static/f.svg" id="eventButton")
        #eventText 관심
    a(href=routes.me).tab.myPage 
        .svg
            img(src="/static/h.svg" id="myButton")
        #myText My