header.header
    .header__wrapper
        .header__column
            .brand
                a(href=routes.home)
                    img(src="/static/logo.svg")
                span(style="margin-left:5px; color:#444444f0;" class="logoName") 연
                span(class="logoName" style="margin-left:3px; color:#444444f0;") 고
                span(class="logoName" style="margin-left:3px; color:#444444f0; ") 링
        .header__column
            ul
                if !loggedUser
                    //- li 
                    //-     a(href=routes.join) 회원가입 
                    li
                        a(href=routes.login) 로그인
                else
                    li
                        //- a(href=`/users${routes.userDetail(loggedUser.id)}`) Profile
                        a(href=routes.logout style="font-size:11px; color:#b7b6b6") 로그아웃
                    li
                        a(href="https://open.kakao.com/o/s7kM2oQc" style="font-size:11px; color:#b7b6b6") 신고하기
    .event-wrapper
        a(href="https://open.kakao.com/o/sU9LOTQc").event
            div(style="text-align:center; font-size: 10px; color:red; font-weight:400;") [ 이벤트 ] <br><br> ♥가장 Best 연고링후기에게 2만원 쏜다! ♥ (-1/20)
