header.header
    .header__wrapper
        .header__column
            .brand
                a(href=routes.home)
                    img(src="/static/logo.svg")
                span(style="margin-left:5px; color:#444444f0;" class="logoName") 연
                span(class="logoName" style="margin-left:3px; color:#444444f0;") 고
                span(class="logoName" style="margin-left:3px; color:#444444f0; ") 링
        .header__column
            ul
                if !loggedUser
                    li
                        a(href=routes.newjoin) 신입생 가입
                    li 
                        a(href=routes.fjoin) 회원가입 
                    li
                        a(href=routes.login) 로그인
                else
                    li
                        a(href="https://open.kakao.com/o/sWKImPRc" style="font-size:10px; color:#b7b6b6") 탈퇴하기
                    li
                        a(href="https://open.kakao.com/o/s7kM2oQc" style="font-size:10px; color:#b7b6b6") 신고하기
    .event-wrapper
        a(href=routes.notice).event
            div(style="text-align:center; font-size: 10px; color:red; font-weight:400;") [공지사항 보러가기] <br><br> 업데이트 안내
