header.header
    .header__wrapper
        .header__column
            .brand
                a(href=routes.home)
                    img(src="/static/logo.jpg")
        .header__column
            ul
                if !loggedUser
                    //- li 
                    //-     a(href=routes.join) 회원가입 
                    li
                        a(href=routes.login) 로그인
                else
                    li
                        //- a(href=`/users${routes.userDetail(loggedUser.id)}`) Profile
                        a(href=routes.me) 프로필
                    li
                        a(href=routes.logout) 로그아웃
    .event-wrapper
        .event
            div(style="text-align:center; font-size: 10px;") 가장 좋은 피드백을 쏜 사람한테 5만원준다!

